#*.pdf
*.aux
*.toc
*.lof
*.log
*.out

#unignore the cover pdf
!*Cover/*

#ignore some dumb pdf output folders
*Output*

#ignore archives
*.zip
*.gz
*.dll

#editor/IDE ignores go here
*sublime-*
build/*
lib/*

*build*

#something QT adds
CMakeLists.txt.user

# Don't upload raw videos
RAW*.avi

# Don't upload private videos
seq8.mp4
seq9*.mp4

RAW*.avi


data/seq9/seq9.mov




