#*.pdf
*.aux
*.toc
*.lof
*.log
*.out
*.lot

#unignore the cover pdf
!*Cover/*

#ignore some dumb pdf output folders
*Output*

#ignore archives
*.zip
*.gz
*.dll

#editor/IDE ignores go here
*sublime-*
build/*
lib/*
*.swp*
*build*

#something QT adds
CMakeLists.txt.user

# Don't upload raw videos
RAW*.avi

# Don't upload private videos
seq8.mp4
seq9-1.mp4
seq9-2.mp4
seq9-3.mp4
seq9*.mp4
seq9.mov
RAW*.avi
data/seq9/seq9.mov
seq1*.mp4


